<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <style>
    
        body {
            background-color: #DBF9FC; 
        }
    </style>
</head>
<body>
    <h1>Create Post</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button><br>
        <br>
        <a href="{% url 'logout' %}">Logout</a>

    </form> 
</body>
</html>