<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>User Login</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">Username:</label>
            {{ form.username }}
        </div>
        <div>
            <label for="id_password">Password:</label>
            {{ form.password }}
        </div>
        <button type="submit">Login</button>
    </form>
    {% if form.errors %}
        <p class="error">{{ form.errors }}</p>
    {% endif %}
    
</body>
</html>